apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: mhillsma-cluster

resources:
  - ../../cluster-templates/aws-ha/base

patches:
  # Install config secret content - must come before rename
  - path: patches/install-config.yaml

  # Rename ClusterDeployment
  - target:
      kind: ClusterDeployment
      name: cluster-placeholder
    patch: |-
      - op: replace
        path: /metadata/name
        value: mhillsma-cluster
      - op: replace
        path: /spec/clusterName
        value: mhillsma-cluster
      - op: replace
        path: /spec/baseDomain
        value: openshiftpartnerlabs.com
      - op: replace
        path: /spec/platform/aws/region
        value: us-east-1
      - op: replace
        path: /spec/provisioning/imageSetRef/name
        value: img4.20.10-x86-64-appsub
      - op: replace
        path: /spec/provisioning/installConfigSecretRef/name
        value: mhillsma-cluster-install-config
      - op: replace
        path: /spec/provisioning/sshPrivateKeySecretRef/name
        value: mhillsma-cluster-ssh-key
      - op: remove
        path: /spec/provisioning/manifestsConfigMapRef

  # Rename MachinePool
  - target:
      kind: MachinePool
      name: cluster-placeholder-worker
    patch: |-
      - op: replace
        path: /metadata/name
        value: mhillsma-cluster-worker
      - op: replace
        path: /spec/clusterDeploymentRef/name
        value: mhillsma-cluster
      - op: replace
        path: /spec/replicas
        value: 0
      - op: replace
        path: /spec/platform/aws/type
        value: m5.2xlarge

  # Rename ManagedCluster
  - target:
      kind: ManagedCluster
      name: cluster-placeholder
    patch: |-
      - op: replace
        path: /metadata/name
        value: mhillsma-cluster
      - op: add
        path: /metadata/labels/environment
        value: development

  # Rename KlusterletAddonConfig
  - target:
      kind: KlusterletAddonConfig
      name: cluster-placeholder
    patch: |-
      - op: replace
        path: /metadata/name
        value: mhillsma-cluster
      - op: replace
        path: /spec/clusterName
        value: mhillsma-cluster
      - op: replace
        path: /spec/clusterNamespace
        value: mhillsma-cluster

  # Rename install-config Secret
  - target:
      kind: Secret
      name: cluster-placeholder-install-config
    patch: |-
      - op: replace
        path: /metadata/name
        value: mhillsma-cluster-install-config
