apiVersion: v1
kind: Secret
metadata:
  name: cluster-placeholder-install-config
  namespace: cluster-placeholder
stringData:
  install-config.yaml: |
    apiVersion: v1
    baseDomain: openshiftpartnerlabs.com
    metadata:
      name: dev-cluster-01

    controlPlane:
      name: master
      platform:
        aws:
          type: m5.4xlarge
          rootVolume:
            iops: 4000
            size: 120
            type: gp3
          zones:
            - us-east-1a
      replicas: 1

    compute:
      - name: worker
        platform:
          aws:
            type: m5.2xlarge
            rootVolume:
              iops: 2000
              size: 100
              type: gp3
            zones:
              - us-east-1a
        replicas: 0

    networking:
      clusterNetwork:
        - cidr: 10.128.0.0/14
          hostPrefix: 23
      machineNetwork:
        - cidr: 10.0.0.0/16
      serviceNetwork:
        - 172.30.0.0/16
      networkType: OVNKubernetes

    platform:
      aws:
        region: us-east-1

    fips: false
    publish: External
