apiVersion: v1
kind: Secret
metadata:
  name: <cluster-name>-ssh-key
  namespace: <cluster-name>
type: Opaque
stringData:
  ssh-privatekey: |
    -----BEGIN OPENSSH PRIVATE KEY-----
    ...
    -----END OPENSSH PRIVATE KEY-----
  ssh-publickey: ssh-rsa AAAA...
