apiVersion: v1
kind: Secret
metadata:
  name: pull-secret
  namespace: <cluster-name>
type: kubernetes.io/dockerconfigjson
stringData:
  .dockerconfigjson: |
    {"auths":{"cloud.openshift.com":{"auth":"<redacted>","email":"<redacted>"},"quay.io":{"auth":"<redacted>","email":"<redacted>"},"registry.connect.redhat.com":{"auth":"<redacted>","email":"<redacted>"},"registry.redhat.io":{"auth":"<redacted>","email":"<redacted>"}}}
